<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div id="footer">
        <div class="box">
            <h3> NHÓM 5 RESTAURANT</h3>
            <div class="logo">
                <a href="/index.html">
                    <img src="/assets/logo.png" alt="logo-nha-hang">
                </a>
            </div>
            <p> Nhà hàng 5 sao cung cấp sản phẩm với dịch vụ chất lượng tốt nhất cho quý khách</p>
            <p><b>Thời gian mở cửa:</b>
                <br>8h00 - 22h00 các ngày trong tuần</p>
        </div>
            <div class="box">
                <h3>NỘI DUNG</h3>
                <ul class="quick-menu">
                    <div class="item">
                        <a href="/page/gioithieu.html">Giới thiệu</a>
                    </div>
                    <div class="item">
                        <a href="/page/thucdon.html">Thực đơn</a>
                    </div>
                    <div class="item">
                        <a href="/page/datban.html">Đặt bàn</a>
                    </div>
                    <div class="item">
                        <a href="/page/huongdan.html">Hướng dẫn</a>
                    </div>
                </ul>
            </div>
            <div class="box">
                <h3>LIÊN HỆ</h3>
                <p><b>SĐT:</b> 0961861308 </p>
                <p><b>Đại diện:</b> Trần Thanh Long</p>
                <p><b>Địa chỉ:</b> 79 Hồ Tùng Mậu, phường Mai Dịch, quận Cầu Giấy, thành phố Hà Nội</p>
            </div>
            <div class="box">
                <h3>THANH TOÁN</h3>
                <p><b>Ngân hàng:</b> MB Bank</p>
                <p><b>STK:</b> 09999999998888</p>
            </div>
    </div>  
    </div>
</body>
</html>