<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/header.css">
    
</head>
<body>
    <header>
        <div class="top-nav">
            <a href="/index.html" class="logo">
                <img src="/assets/logo.png" alt="">
            </a> 
            <div class="search-container">
                <img src="/assets/search.svg" alt="Search Icon">
                <input type="text" placeholder="Tìm kiếm sản phẩm...">
            </div>   
            <div class="social">
                <a href="https://www.youtube.com/@longculigaming8171" target="_blank">
                    <img src="/assets/social/facebook.svg" alt="Facebook">
                </a>
                <a href="https://www.youtube.com/@longculigaming8171" target="_blank">
                    <img src="/assets/social/instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/@longculigaming8171" target="_blank">
                    <img src="/assets/social/tiktok.svg" alt="TikTok">
                </a>        
                <a href="https://www.youtube.com/@longculigaming8171" target="_blank">
                    <img src="/assets/social/youtube.svg" alt="TikTok">
                </a>        
            </div> 
        </div>
        <div id="nav">
            <div id="menu">
                <div class="item">
                    <a href="/index.html">Trang chủ</a>
                </div>
                <div class="item">
                    <a href="/page/thucdon.html">Thực Đơn</a>
                </div>
                <div class="item">
                    <a href="/page/datban.html">Đặt Bàn</a>
                </div>
                <div class="item">
                    <a href="/page/diachi.html">Địa Chỉ</a>
                </div>
                <div class="item">
                    <a href="/page/gioithieu.html">Giới Thiệu</a>
                </div>
            </div>
            <div id="actions">
            
                <div class="item">
                    <a href="#">
                        <img src="/assets/cart.svg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="/assets/user.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>